---
import { getPerformance } from "@/pages/_metadata/performance";

export const BACKGROUND_HEX_OPACITY = "20";

interface Props {
  average: number;
  rowspan: number;
}

const { average, rowspan } = Astro.props;

const { color, performance } = getPerformance(average);
---

<td class="p-4 align-middle text-center font-semibold" rowspan={rowspan}>
  <span
    style={{
      borderColor: color,
      backgroundColor: color + BACKGROUND_HEX_OPACITY,
    }}
    class="w-16 px-4 mr-1 py-1 text-sm text-center border-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent font-normal"
  >
    {performance}
  </span>
</td>
