---
interface Props {
  course: number;
}
---

<form
  method="dialog"
  id="add-student-form"
  class="flex flex-col gap-3"
  aria-describedby="form-message"
>
  <label for="name" class="block text-sm font-medium text-gray-700">
    Nombre del Estudiante
  </label>

  <input
    type="text"
    name="name"
    required
    minlength="4"
    maxlength="30"
    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
    placeholder="Introduce el nombre del Estudiante"
  />

  <label for="parent_phone" class="block text-sm font-medium text-gray-700">
    Teléfono del Acudiente
  </label>

  <input
    type="tel"
    name="parent_phone"
    required
    minlength="10"
    maxlength="10"
    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
    placeholder="Numeró telefónico"
  />

  <input type="hidden" value={Astro.props.course} name="course" />

  <button
    class="mt-4 px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700 cursor-pointer"
    type="submit"
  >
    Añadir Estudiante
  </button>
</form>

<script>
  import "./scripts/createStudent.ts";
</script>
