@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./sonner.css";
@import "./report.css";
@import "./table.css";

@theme {
  --color-default-100: #27272a;
}

.courses {
  @apply w-fit mt-10 grid grid-cols-2 md:grid-cols-3 gap-5;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
