---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

import { Toaster } from "sonner";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"
      rel="stylesheet"
    />
    <title>Mi Aprendizaje</title>
    <ClientRouter />
  </head>
  <body class:list={["w-screen h-screen", [className]]}>
    <Toaster client:only richColors position="top-center" />
    <slot />
  </body>
</html>
